.logoWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0rem;
}

.logo {
  width: 100%;
  height: auto;
  max-width: 160px;
  max-height: 160px;
  object-fit: contain;
  border: 1px solid var(--neutral-border-medium);
  border-radius: var(--radius-m);
  background: var(--neutral-background-weak);
  padding: 0rem;
}

@media (max-width: 768px) {
  .logoWrapper {
    padding: 0;
    aspect-ratio: 1;
    width: 100%;
  }

  .logo {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }

  .hideOnMobile {
    display: none;
  }
}

